
<h1>
	Tenemos registrados: <%= @totalcli %> Clientes
</h1>

<h1>
	Tenemos registrados: <%= @totalper %> Entidades/Personas
</h1>


<h1>
	Hemos facturado <%= @totalfac %> Facturas que hacen a un total de: $ <%= @facturacion %>
</h1>